---
---

<header class="bg-gradient-to-b from-indigo-50 to-amber-50 py-8 md:py-16">
  <div class="container mx-auto px-4 md:px-8 max-w-7xl">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="mb-8 md:mb-0 flex items-center content-center space-x-2">
        <img src="/assets/PemFlow_logo.png" alt="Pacing Quest Logo" class="h-10" />
        <div class="text-stone-700 font-bold text-2xl md:text-3xl">Pacing Quest</div>
      </div>

      <nav class="flex space-x-6">
        <a href="#features" class="text-stone-600 hover:text-stone-900 transition-colors">Fonctionnalités</a>
        <a href="#visualize" class="text-stone-600 hover:text-stone-900 transition-colors">Visualiser</a>
        <a href="#privacy" class="text-stone-600 hover:text-stone-900 transition-colors">Confidentialité</a>
      </nav>
    </div>

    <div class="sm:mt-12 md:mt-24 mt-8 text-center max-w-4xl mx-auto space-y-8">
      <div class="space-y-2 ">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-gray-900">
          La quête vers la guérison
        </h1>
        <p class="text-xl md:text-2xl text-gray-600 max-w-3xl mx-auto">
        L'application 100% gratuite par les patients, pour les patients pour reprendre le dessus sur la maladie et adapter sa vie.
      </p>
      </div>
      <div>
        <div class="w-60 h-auto md:w-96 mx-auto">
          <img src="/images/pacingquest/webp/Hero.webp" alt="Pacing Quest App" class="w-full h-auto overflow-clip" />
        </div>
      </div>
      <div class="space-y-3">
        <a href="https://testflight.apple.com/join/6JDUpxvr" class="btn-primary text-lg font-bold px-8 py-3">
          Accéder à la beta
        </a>
        <div class="text-slate-500 font-light ">
          Accédez à cette page depuis votre iPhone <br/>
          - Nombres de place limitées -
        </div>
      </div>
    </div>
  </div>
</header>
