---
export const prerender = true
import PEMFlowLayout from '../layouts/PEMFlowLayout.astro';
import Header from '../components/pemflow/Header.astro';
import FeaturesSection from '../components/pemflow/FeaturesSection.astro';
import VisualizeSection from '../components/pemflow/VisualizeSection.astro';
import PrivacySection from '../components/pemflow/PrivacySection.astro';
import SymptomsSection from '../components/pemflow/SymptomsSection.astro';
import Footer from '../components/pemflow/Footer.astro';

const pageTitle = "Pacing Quest - La quête vers la guérison";
const metaDescription = "Pacing Quest est une application 100% gratuite par les patients, pour les patients pour reprendre le dessus sur la maladie et adapter sa vie.";
---

<PEMFlowLayout pageTitle={pageTitle} metaDescription={metaDescription}>
  <Header />
  <main>
    <FeaturesSection />
    <VisualizeSection />
    <PrivacySection />
    <SymptomsSection />
  </main>
  <Footer />
</PEMFlowLayout>
