---
export const prerender = true;
const { frontmatter } = Astro.props
const tagList = frontmatter.tags.split(',')
---
<div class="flex flex-row space-x-2 snap-x snap-mandatory touch-pan-x overflow-x-auto overflow-clip pb-4">
    {tagList.map((tag) => (
      <div class="shrink-0 snap-center"><a class="no-underline
         rounded-full
         font-regular
         text-sm
         text-zinc-600
         dark:text-zinc-400
         dark:bg-zinc-800
         bg-zinc-100

         px-3
         py-1" href={`/tags/${tag}`}>
        {tag}
      </a></div>
    ))}
  </div>