@import url('./fontawesome.min.css');
@import url('./solid.min.css');
@import url('./regular.css');
@import url('./brands.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Bungee+Shade&family=Cinzel+Decorative&family=Codystar&family=Henny+Penny&family=Kablammo&family=Megrim&family=Miltonian&family=Monoton&family=Nabla&family=Raleway+Dots&family=Rubik+Vinyl&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  /* @font-face {
    font-family: 'Rubik One';
    src: url(./fonts/RubikMonoOne-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Prompt Regular';
    src: url(./fonts/Prompt-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Prompt Bold';
    src: url(./fonts/Prompt-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Prompt SemiBold';
    src: url(./fonts/Prompt-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Prompt Medium';
    src: url(./fonts/Prompt-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Prompt Black';
    src: url(./fonts/Prompt-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Prompt ExtraLight';
    src: url(./fonts/Prompt-ExtraLight.ttf) format('truetype');
  }
  /* extra bold 
  @font-face {
    font-family: 'Prompt ExtraBold';
    src: url(./fonts/Prompt-ExtraBold.ttf) format('truetype');
  }
  /* light 
  @font-face {
    font-family: 'Prompt Light';
    src: url(./fonts/Prompt-Light.ttf) format('truetype');
  }
  /* thin 
  @font-face {
    font-family: 'Prompt Thin';
    src: url(./fonts/Prompt-Thin.ttf) format('truetype');
  }*/
  

  @font-face {
    font-family: 'IBM Plex Mono';
    src: url(./fonts/IBMPlexMono-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Bold';
    src: url(./fonts/IBMPlexMono-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono SemiBold';
    src: url(./fonts/IBMPlexMono-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Italic';
    src: url(./fonts/IBMPlexMono-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono SemiBold Italic';
    src: url(./fonts/IBMPlexMono-SemiBoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Bold Italic';
    src: url(./fonts/IBMPlexMono-BoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono ExtraLight';
    src: url(./fonts/IBMPlexMono-ExtraLight.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono ExtraLight Italic';
    src: url(./fonts/IBMPlexMono-ExtraLightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Light';
    src: url(./fonts/IBMPlexMono-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Light Italic';
    src: url(./fonts/IBMPlexMono-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Medium';
    src: url(./fonts/IBMPlexMono-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Medium Italic';
    src: url(./fonts/IBMPlexMono-MediumItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Thin';
    src: url(./fonts/IBMPlexMono-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Mono Thin Italic';
    src: url(./fonts/IBMPlexMono-ThinItalic.ttf) format('truetype');
  }

  /* sans */
  /* Thin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 100;
    src: url(./fonts/IBMPlexSans-Thin.ttf) format('truetype');
  }
  /* Extra Light */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 200;
    src: url(./fonts/IBMPlexSans-ExtraLight.ttf) format('truetype');
  }

  /* Light */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    src: url(./fonts/IBMPlexSans-Light.ttf) format('truetype');
  }


  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    src: url(./fonts/IBMPlexSans-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    src: url(./fonts/IBMPlexSans-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    src: url(./fonts/IBMPlexSans-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    src: url(./fonts/IBMPlexSans-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/IBMPlexSans-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-style: italic;
    src: url(./fonts/IBMPlexSans-SemiBoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/IBMPlexSans-BoldItalic.ttf) format('truetype');
  }
  /* medium italic */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: italic;
    src: url(./fonts/IBMPlexSans-MediumItalic.ttf) format('truetype');
  }

  /* Serif title */
  @font-face {
    font-family: 'Prata';
    font-weight: 400;
    src: url(./fonts/Prata-Regular.ttf) format('truetype');
  }

  /* @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    src: url(./fonts/IBMPlexSerif-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 600;
    src: url(./fonts/IBMPlexSerif-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 500;
    src: url(./fonts/IBMPlexSerif-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/IBMPlexSerif-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 600;
    font-style: italic;
    src: url(./fonts/IBMPlexSerif-SemiBoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/IBMPlexSerif-BoldItalic.ttf) format('truetype');
  } */
  

  
}
/* 
html {
  background-color: #f1f5f9;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html.dark {
  background-color: #0f0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  padding: 1rem;
  max-width: 80ch;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
} */

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  
  
}

