---
export const prerender = true;
import BaseLayout from './BaseLayout.astro'
import PostInlineTagList from '../components/blog/PostInlineTagList.astro'
import NavLink from '../components/global/NavLink.astro';
const { frontmatter, headings } = Astro.props
const dateAsDate = new Date(frontmatter.pubDate)
---
<BaseLayout pageTitle={frontmatter.title} metaDescription={frontmatter.description} metaTags={ frontmatter.tags }>
  
  <div itemscope itemtype="https://schema.org/Legislation">
    <div class="prose prose-zinc prose-h1:leading-relaxed dark:prose-invert mb-10 mx-auto flex flex-col max-w-prose">
      <h1 itemprop="name" class="font-title">{frontmatter.title}</h1>
        <div class="space-y-2">
          <div class="flex flex-row align-baseline justify-between">
            <span itemprop="datePublished">{dateAsDate.toLocaleDateString('fr')}</span> </div>
          </div>
        <div class={`flex flex-col px-4 py-1 rounded-xl bg-slate-100 dark:bg-zinc-800 dark:text-zinc-300`}>
          <p><em>{frontmatter.description}</em></p>
        </div>
      </div>    
    </div>
    
    
    <article itemprop="articleBody"  class="
    break 
    prose
    prose-slate
    
    prose-img:mx-auto
    prose-p:font-sans
    prose-headings:font-sans
    prose-headings:tracking-wide
    prose-ul:font-sans
    
    prose-img:shadow-xl
    dark:prose-img:border-zinc-800
    dark:prose-img:border-2
    prose-img:rounded-xl
    
    dark:prose-invert
    
    mx-auto"> 
    <slot />
  </article>
</BaseLayout>
