---
export const prerender = true
---
<a href="/" class="
font-title
font-semibold
text-xl
leading-relaxed
tracking-wide
px-4 py-2
transition-all
rounded-full

shadow-sm

bg-slate-100
text-slate-700
 dark:hover:bg-zinc-100
 dark:hover:text-zinc-800

dark:text-zinc-50
dark:bg-zinc-800
hover:shadow-md
hover:bg-indigo-600
hover:text-slate-50

">Anthony Da Cruz <i class="fa-solid fa-compass-drafting fa-xs"></i></a>