---

---
<button type="submit" class="
            bg-indigo-500 
            border-indigo-600
            text-white
            px-4 py-2 
            rounded-full
            hover:shadow-lg
            hover:drop-shadow-sm
            hover:shadow-indigo-100
            hover:border-indigo-400
            border
            border-solid
            duration-300
            ease-in-out
            transition-all
            ">
            <slot/>
</button>