---
export const prerender = true
---
<div class="hamburger flex flex-col content-center space-y-1">
  <span class="line rounded bg-slate-600 dark:bg-zinc-600 w-7 h-1"></span>
  <span class="line rounded bg-slate-600 dark:bg-zinc-600 h-1"></span>
  <span class="line rounded bg-slate-600 dark:bg-zinc-600 h-1"></span>
</div>
