---
export const prerender = true;
import NavLink from "./NavLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Anthony from "./Anthony.astro";
const navLinks = [
  // {
  //   linkUrl: '/formations',
  //   linkText: 'Formations',
  // },
  {
    linkUrl: "https://blog.anthony-dacruz.com/articles/1",
    linkText: "Blog",
  },
  {
    linkUrl: "/about",
    linkText: "A propos de moi",
  },

  {
    linkUrl:
      "https://metacovidlong.substack.com?utm_campaign=post&utm_medium=portfolio",
    linkText: "Covid Long 🦠",
  },
];
---

<div
  class="nav-links fixed w-0 h-0 opacity-0 hidden top-0 left-0 right-0 bottom-0 z-50 bg-indigo-700 dark:bg-zinc-900 backdrop-blur-3xl backdrop-brightness-50 lg:block lg:w-auto lg:h-min lg:static lg:opacity-100 lg:z-auto lg:bg-transparent lg:backdrop-filter-none"
>
  <a
    href="javascript:void(0)"
    class="w-2 h-2 text-white close-menu my-8 text-3xl absolute right-0 top-0 px-16 lg:hidden"
    ><i class="fa-regular fa-xmark"></i></a
  >
  <div
    class="flex flex-col lg:flex-row justify-center items-center mx-auto h-full"
  >
    <div class="lg:hidden mb-8 lg:mb-0">
      <Anthony />
    </div>

    {
      navLinks.map((link) => (
        <div class="lg:mx-2 my-5">
          <NavLink linkUrl={link.linkUrl}>{link.linkText}</NavLink>
        </div>
      ))
    }
  </div>
</div>
