---
const allPosts = await Astro.glob('../../pages/posts/*.md')
const nonDraftPosts = allPosts.filter(post => post.frontmatter.draft !== true)
const { specificTags } = Astro.props
const tags = specificTags !== undefined ? specificTags : [...new Set(nonDraftPosts.flatMap(post =>  {
    let tagsAString = post.frontmatter.tags
    //Remove spaces from string
    tagsAString = tagsAString.replace(/\s/g, '')
    //Split string into array
    tagsAString = tagsAString.split(',')
    //Remove empty strings from array
    tagsAString = tagsAString.filter(tag => tag !== '')
    return tagsAString
  }))]
---
<div class="tags">
 {tags.map(tag => (
   <p class="tag">
    <a href={`/tags/${tag}`}>
      {tag}
    </a>
   </p>
 ))}
</div>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
